<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Bible Passage</title>
</head>
<body>
    <h1>Select Bible Passage</h1>
    <select id="books">
        <option value="" disabled selected>Select Book</option>
        {% for book in books %}
            <option value="{{ book.id }}">{{ book.name }}</option>
        {% endfor %}
    </select>
    <select id="chapters">
        <option value="" disabled selected>Select Chapter</option>
    </select>
    <select id="verses">
        <option value="" disabled selected>Select Verse</option>
    </select>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#books").change(function() {
                var bookId = $(this).val();
                $.get("/get_chapters/", {book_id: bookId}, function(data) {
                    $("#chapters").html(data);
                });
            });

            $("#chapters").change(function() {
                var bookId = $("#books").val();
                var chapterNumber = $(this).val();
                $.get("/get_verses/", {book_id: bookId, chapter_number: chapterNumber}, function(data) {
                    $("#verses").html(data);
                });
            });
        });
    </script>
</body>
</html>
